{
  "root": true,
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended"
  ],
  "plugins": ["import"],
  "rules": {
    "array-bracket-spacing": "error",
    "arrow-parens": "error",
    "comma-dangle": "error",
    "dot-location": ["error", "property"],
    "eol-last": "error",
    "generator-star-spacing": ["error", { "before": false, "after": true }],
    "indent": ["error", 2, { "ignoreComments": true, "SwitchCase": 1 }],
    "linebreak-style": "error",
    "no-trailing-spaces": "error",
    "no-unused-vars": ["error", { "argsIgnorePattern": "_.*" }],
    "prefer-const": ["error", { "destructuring": "all" }],
    "semi": "error",
    "quotes": ["error", "double", { "allowTemplateLiterals": true }]
  },
  "settings": {
    "import/resolver": "node"
  }
}
