# Markdown builds
web/

# IETF builds
json-schema-use-cases.html
json-schema-use-cases.pdf
json-schema-use-cases.txt
relative-json-pointer.html
relative-json-pointer.pdf
relative-json-pointer.txt

# For the Python enviornment
.venv

# For the node-based build tools
node_modules/

.env
