jsonschema-*.html
jsonschema-*.pdf
jsonschema-*.txt
relative-json-pointer.html
relative-json-pointer.pdf
relative-json-pointer.txt

# For the Python enviornment
.venv

package-lock.json
node_modules/
