.json, .json-schema {
	background-color: #F4F4E8;
	border: 1px solid #888;
	border-radius: 5px;
	padding: 0.5em;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 13px;
}

.json-punctuation {
	font-weight: bold;
}

.json-null, .json-true, .json-false {
	font-weight: bold;
}

.json-true {
	color: #080;
}

.json-false {
	color: #800;
}

.json-object-key {
	color: #246;
}

.json-keyword {
	font-weight: bold;
	color: #036;
}

.json-number {
	font-weight: bold;
	color: #660;
}

.json-string {
	color: #800;
}

.json-schema-map > .json-object-key {
	color: #080;
	font-style: italic;
}

