body {
	background-color: #E8EDE8;
	background-image: url('green-page-background.png');
	background-position: top;
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
	color: #333;
}

a {
	text-decoration: none;
	color: #292;
}

a:hover {
	text-decoration: underline;
	color: #4B4;
}

/* Heading */

.page-header {
	text-align: center;
	width: 850px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;

	border: 5px solid #000;
	border-top: none;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #353;
	color: #FFF;
	padding-bottom: 0.5em;
}

h1 {
	text-align: center;
	display: block;
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.7em;
	letter-spacing: 1px;
}

.tagline {
	font-size: 1.2em;
	letter-spacing: 2px;
	color: #F0F8F0;
}

/* Menu */

.page-menu {
	text-align: center;
	margin-bottom: 2em;
}

.page-menu a {
	font-size: 1.1em;
	margin: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: #040;
	border-bottom: 1px solid #040;
	text-decoration: none;
}

.page-menu a:hover, .page-menu a.selected {
	color: #080;
	border-bottom: 3px solid #060;
}

/* Content */

.page-content {
	text-align: left;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	border: 2px solid #666;
	border-top: none;
	padding: 0;
	padding-top: 1em;
}

h2 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 1em;
}

.block {
	background-color: #EEE;
	background-image: url('grey-block-background.png');
	background-position: top;
	background-repeat: repeat-x;
	padding: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-bottom: 2em;
}

.key-value {
	width: 100%;
}

.key-value td {
	vertical-align: bottom;
}

.key-value .key {
	width: 40%;
	text-align: right;
	font-weight: bold;
	color: #000;
}

.key-value .value {
	padding-left: 0.5em;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}

ul {
	margin: 0;
	margin-left: 4em;
}

li {
	margin: 0.2em;
}

.show-hide {
	float: right;
	width: 5em;
	color: #080;
	cursor: pointer;
}

.show-hide:hover {
	color: #0A0;
}