name: JSON Schema
on:
  - push
jobs:
  specs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install --requirement requirements.txt
      - run: xml2rfc --version
      - run: make all
      - uses: actions/upload-artifact@v3
        with:
          path: |
              *.html
              *.txt
              !requirements.txt
